*{
	padding: 0;
	margin: 0;
}

.whiteRook{
    position: relative;
    background-image: url(/assets/whiteRook.png);
    background-position: center, left top;
    background-repeat: no-repeat;
    
    width: 100%;
    height: 100%;
}