*{
	padding: 0;
	margin: 0;
}

html{
    padding: 5%;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

#chessBoard{
    display:flex;
    justify-content: center;
    align-items: center;
	width: 80vh;
	height: 80vh;
    /* border: 5px solid rgb(112, 96, 55); */
    /*Come back to this later (maybe)*/
}

.column{
    width:80vh;
}

.lightBox{
    width: 10vh;
    height: 10vh;
    background-color: rgb(240, 217, 181);
    display: block;
}

.darkBox{
    width: 10vh;
    height: 10vh;
    background-color:rgb(181, 136, 99);
    display: block;
}

.piece{
    position: relative;
    background-position: center, left top;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.whiteRook{
    background-image: url(/assets/whiteRook.png);
}

.whiteKnight{
    background-image: url(/assets/whiteKnight.png);
}

.whiteBishop{
    background-image: url(/assets/whiteBishop.png);
}

.whiteQueen{
    background-image: url(/assets/whiteQueen.png);
}

.whiteKing{
    background-image: url(/assets/whiteKing.png);
}

.whitePawn{
    background-image: url(/assets/whitePawn.png);
}

.blackRook{
    background-image: url(/assets/blackRook.png);
}

.blackKnight{
    background-image: url(/assets/blackKnight.png);
}

.blackBishop{
    background-image: url(/assets/blackBishop.png);
}

.blackQueen{
    background-image: url(/assets/blackQueen.png);
}

.blackKing{
    background-image: url(/assets/blackKing.png);
}

.blackPawn{
    background-image: url(/assets/blackPawn.png);
}