*{
	padding: 0;
	margin: 0;
}

html{
    padding: 5%;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

#chessBoard{
    display:flex;
    justify-content: center;
    align-items: center;
	width: 80vh;
	height: 80vh;
    
}

.lightBox{
    width: 10vh;
    height: 10vh;
    background-color: rgb(240, 217, 181);
    display: block;
}

.box:hover{
    cursor: pointer;
    background-color: rgb(98, 209, 212);
}

.darkBox{
    width: 10vh;
    height: 10vh;
    background-color:rgb(181, 136, 99);
    display: block;
}

.activeSquare{
    cursor: pointer;
    background-color: rgb(44, 231, 20);
}

.availableSquares{
    position: relative;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    
    background-color: rgb(33, 114, 30);
    border-radius: 50%;
    /* max-width: 50%;
    max-height: 50%; */
}


.pieceInDanger {
    position: relative;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    
    background-color: rgb(231, 20, 48);
    border-radius: 50%;
    /* max-width: 4vh;
    max-height: 4vh; */
}