*{
	padding: 0;
	margin: 0;
}

html{
    padding: 5%;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

#chessBoard{
    display:flex;
    justify-content: center;
    align-items: center;
	width: 80vh;
	height: 80vh;
    
}

.lightBox{
    width: 10vh;
    height: 10vh;
    background-color: rgb(240, 217, 181);
    display: block;
}

.box:hover{
    cursor: pointer;
    background-color: aquamarine;
}

.darkBox{
    width: 10vh;
    height: 10vh;
    background-color:rgb(181, 136, 99);
    display: block;
}

.activeSquare{
    cursor: pointer;
    background-color: rgb(44, 231, 20);
}
